body{
    --red-color: rgba(255, 60, 60, 0.741);
}

.main-content-website section:nth-child(2n){
    background-color: #2e3135;
}

#firstRowHomePage{
    min-height: 100vh;
    background-image: url("/img/fondLego.jpg");
    background-position: center;
}

.scrolled{
    background-color: white;;
}

#text-presentation{
    background-color: #000000bd;
    margin-top: -100px;
}

.Description{
    max-width: 550px;
    margin: 15px auto;
    font-size: 16px;
}

.text-bienvenue{
    font-size: 22px;
}

.big-text{
    font-size: 50px;
    font-weight: bold;
}

#mouseBtn i{
    color:white;
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    transform: translate(-50%, -50%) rotate(180deg);
    transition: 0.5s;
}

#mouseBtn  i:hover{

    bottom: 30px;
    font-size: 50px;
    transform: translate(-50%, -50%) rotate(0deg);
    cursor: pointer;
}

.btn-social-share{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.all-competences img{
    max-width: 100px;
    margin: auto;
}

a.nav-link.active{
    color: var(--red-color) !important;
}

#navbarSite{
    transition: 0.5s;
    z-index: 1000;
}

.temoignage-text{
    color:#8b8c8d;
}

.testimonial-icon{
    color:var(--red-color);
    padding: 30px;
    font-size: 45px;
}

#temoignages{
    padding-bottom: 100px !important;
}

.carousel-indicators [data-bs-target]{
    background-color:var(--red-color);
}

#scroll-top-button{
    position: fixed;
    bottom:10px;
    right: 10px;
    background-color: var(--red-color);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

#scroll-top-button.show{
    opacity: 1;
    visibility: visible;
}